body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
    
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: red;
    text-decoration: none;
}

/* Not used */

/* .nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
} */

/* Some of these are not used but left for reference */

.award-entry {
    margin-bottom: 2rem;
}

.award-entry-header {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.award-entry-header h3 {
    margin: 0.1rem 0;
}

.award-entry-description p {
    margin: 0;
    font-weight: 400;
}

/* .award-entry h2 a,
.award-entry h2 a:visited {
    color: blue;
    text-decoration: none;
} */

/* .award-entry h2 a:hover {
    color: red;
} */

.project-entry {
    margin-bottom: 2rem;
}

.project-entry-header {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-entry-header-title {
    color: blue;
}

.project-entry-header-side {
    display: flex;
    flex-direction: column;
}

.project-entry-header-side button {
    margin: 0.15rem 0;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.85;
    transition-duration: 0.1s;
}

.project-entry-header-side button:hover {
    opacity: 1;
}
