{% load static %}
<html>
    <head>
        <title>Ng Yong Xiang</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
        rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>
                <a href="{% url 'home' %}">Home</a> | 
                <a href="{% url 'about' %}">About</a> | 
                <a href="{% url 'projects' %}">Projects</a> | 
                <a href="{% url 'awards' %}">Awards</a>
            </h1>
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
