{% extends 'base.html' %}

{% block content %}
    <div class="project-entry">

        <div class="project-entry-header">
            <h2 class="project-entry-header-title">{{ project.title }}</h2>
            <div class="project-entry-header-side">
                <button onclick="location.href='{{ project.deployment }}'" type="button">View Demo</button>
                <button onclick="location.href='{{ project.deployment }}'" type="button">Source Code</button>
            </div>
        </div>

        <p>{{ project.description }}</p>
    </div>
{% endblock content %}
